$pink: hsl(322, 100%, 66%);
$boldFont: #02252E;
$lightFont: #204049;
$mainText: #808F9A;
$textHover: #FF9ADB;
$mainGreen: #00252E;
$dropShadow: rgba(0,0,0,.50);
$paleCyan: hsl(193, 100%, 96%);
$darkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

$spacer-80: 80px;